body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    border: 0;

    display: flexbox;
    flex-direction: column;
}

a, li{
    list-style-type: none;
    text-decoration: none;
}


