body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;

    display: flexbox;
    flex-direction: column;
}

a, li{
    list-style-type: none;
    text-decoration: none;
}

.container-1{
    background: #393e46;
    height: 50px
    outline: 2px solid red;
}

.container-2{
    background: #393e46;
    height: 450px;
}

.container-3{
    background: #ffffff;
    height: 450px;
}

.container-4{
    background: #eeeeee;
    height: 450px;
}

.container-5{
    background: #ffffff;
    height: 450px;
}

.container-6{
    background: #393e46;
    height: 50px;
}